on boot
    setprop sys.usb.state adb
    stop adbd
    start adbd
    
on property:sys.usb.config=none
    stop adbd
    exec /system/bin/netcfg usb0 down
    write /sys/class/usb_composite/adb/enable 0
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    write /sys/class/usb_composite/rndis/enable 0
    exec /system/bin/netcfg usb0 down
    setprop sys.usb.state $sys.usb.config
    
on property:sys.usb.config=adb
    exec /system/bin/netcfg usb0 down
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    write /sys/class/usb_composite/rndis/enable 0
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    exec /system/bin/netcfg usb0 down
    write /sys/class/usb_composite/adb/enable 0
    write /sys/class/usb_composite/rndis/enable 0
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    exec /system/bin/netcfg usb0 down
    write /sys/class/usb_composite/rndis/enable 0    
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/adb/enable 0
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,rndis,adb
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
 
